<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Test Planner - @ViewBag.Title</title>

        @Styles.Render("~/3rdParty/Css")
        @Styles.Render("~/App/Css")

        @Scripts.Render("~/3rdParty/Scripts")
        @Scripts.Render("~/App/Scripts")
    </head>
    <body>
        <div ng-app="TaskPlannerApp">
            @RenderBody()
        </div>
    
        <footer>
            <p>&copy; @DateTime.Now.Year - Test Planner</p>
        </footer>
    </body>
</html>
